<!-- Categories Jumbotron
================================================== -->
<div class="jumbotron fortags" style="height: 100px;">
	<div class="col-md-8 p-5 align-self-center text-center">
		{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
		<a class="mt-1 mb-1" href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a>
		{{ end }}
	</div>
</div>
